@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/Raleway-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'raleway-medium';
  src: url('../fonts/Raleway-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'raleway-black';
  src: url('../fonts/Raleway-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}