/* import fonts faces */
@import "material-design-iconic-font.css";

html, body {
    font-family: 'Roboto';
    font-size: 14px;
}

#header .navbar {
    min-height: 75px;
    line-height: 75px;
    margin-bottom: 0;
    border: none;
}

#header .ncc-menu {
    margin-top: 10px;
}

#header .ncc-menu>li>a {
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto';
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

#header .ncc-menu>li.active>a,
#header .ncc-menu>li>a:hover,
#header .ncc-menu>li>a:focus {
    color: #00d2ff;
    background-color: transparent;
    border-bottom: solid 2px #00d2ff;
}
.logo {
    color: #000;
}
.ncc-heading {
    text-align: center;
    display: block;
    margin-bottom: 35px;
}

.ncc-heading .ncc-heading-1 {
    text-transform: uppercase !important;
    font-family: 'raleway-bold';
    font-size: 23px;
    color: #012830;
    padding-bottom: 20px;
}

.ncc-heading .ncc-description {
    color: #747474;
}

.ncc-heading hr {
    border-bottom: solid 2px #0ed5ff;
    width: 25%;
}

.ncc-slider {
    position: relative;
    display: block;
    width: 100%;
}

.ncc-slider .ncc-slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50%;
    height: 100%;
    padding: 290px 50px 50px 100px;
    color: #fff;
}

.ncc-slider .ncc-slider-inner h5,
.ncc-slider .ncc-slider-inner h2 {
    text-transform:  uppercase;
}

.ncc-slider .ncc-slider-inner h5 {
    font-size: 23px;
    font-family: 'raleway-medium';
}

.ncc-slider .ncc-slider-inner h2 {
    font-size: 57px;
    font-family: 'raleway-black';
}

.ncc-slider .ncc-slider-inner .ncc-slider-button {
    display: block;
    width: 100%;
    margin-top: 50px;
}

.ncc-slider .ncc-slider-inner .get-started,
.ncc-slider .ncc-slider-inner .buy-theme {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}

.ncc-slider .ncc-slider-inner .get-started:hover,
.ncc-slider .ncc-slider-inner .buy-theme:hover,
.ncc-slider .ncc-slider-inner .get-started:focus,
.ncc-slider .ncc-slider-inner .buy-theme:focus {
    text-decoration: none;
    background-color: #00d2ff;
    border: none;
}

.ncc-slider .ncc-slider-inner .get-started {
    padding: 11px 20px;
    background-color: #00d2ff;
    margin-right: 20px;
}

.ncc-slider .ncc-slider-inner .buy-theme {
    padding: 10px 20px;
    border: solid 1px #fff;
}

.ncc-post {
    position: relative;
}

.ncc-post .ncc-post-header {
    display: block;
    text-align: center;
}

.ncc-post .ncc-post-content {
    text-align: center;
    color: #666;
}

.ncc-post-header i.post-ico {
    color: #00d2ff;
    font-size: 4em;
    display: block;
}

.ncc-post-header a.ncc-post-header-link {
    color: #181819;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    font-family: 'raleway-bold';
    font-size: 14px;
}

.ncc-progress-bar {
    position: relative;
    display: block;
}

.ncc-progress-bar.first {
    margin-top: 20px;
}

.ncc-progress-bar .progress-info {
    display: block;
    margin-bottom: 8px;
}

.ncc-progress-bar .progress {
    height: 5px;
    background-color: #fff;
    border-radius: 0;
}

.ncc-progress-bar .progress-name {
    text-transform: uppercase;
    color: #444444;
    float: left;
    font-weight: 700;
}

.ncc-progress-bar .progress-cent {
    float: right;
    color: #999;
}

.progress-bar-brand {
    background-color: #ff1976;
}

.progress-bar-design {
    background-color: #00d2ff;
}

.progress-bar-photography {
    background-color: #09b248;
}

.ncc-heading-2 {
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 0;
}

#page_info {
    min-height: 269px;
    padding: 75px 0;
}


.ncc-info {
    text-align: center;
}

.ncc-info .ncc-info-number {
    font-size: 3.5em;
}

.ncc-info .ncc-info-text {
    font-size: 1.8em;
}

.ncc-info .ncc-info-number,
.ncc-info .ncc-info-text {
    display: block;
    color: #fff;
}

ul.ncc-services, ul.ncc-services li {
    list-style: none;
    list-style-type: none;
}

ul.ncc-services>li {
    display: inline-block;
    float: left;
}

ul.ncc-services>li {
    margin-bottom: 60px;
}

ul.ncc-services>li>.service-image {
    width: 20%;
}

ul.ncc-services>li>.service-image,
ul.ncc-services>li>.service-text {
    display: block;
    float: left;
}

ul.ncc-services>li>.service-text {
    color: #666;
    overflow: hidden;
    width: 80%;
    height: 80px;
}

ul.ncc-services>li>.service-text>a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.ncc-heading-style-1 {
    text-align: center;
    display: block;
    padding-bottom: 30px;
}

.ncc-heading-style-1 h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    font-family: 'raleway-bold';
}

.ncc-menu-style-1>li {
    display: inline-block;
}

.ncc-menu-style-1>li>a {
    color: #808080;
    text-transform: uppercase;
    font-weight: bold;
}

.ncc-menu-style-1>li>a.active,
.ncc-menu-style-1>li>a:hover,
.ncc-menu-style-1>li>a:focus {
    color: #fff;
    background: transparent;
}

.ncc-team .ncc-team-photo {
    display: block;
    height: 270px;
    max-height: 270px;
    overflow: hidden;
}

.ncc-team .ncc-team-inner {
    padding: 10px 30px 20px 30px;
}

.ncc-team .ncc-team-inner h3 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.ncc-team .ncc-team-inner span {
    color: #999;
    font-size: 13px;
    text-transform: uppercase;
}

.ncc-team .ncc-team-inner .devided {
    font-size: 1px;
    display: block;
    width: 35%;
    border-bottom: solid 2px #00d2ff;
}

.ncc-team .ncc-team-inner p {
    padding-top: 20px;
    height: 65px;
    max-height: 65px;
    overflow: hidden;
    color: #e2e2e2;
}

.slide .carousel-indicators .active {
    background-color: #00d2ff;
}

.slide .carousel-indicators li {
    background-color: #ccc;
}

.testimonial .carousel-indicators .active {
    background-color: rgba(255,255,255,0.2) !important;
}

.testimonial .carousel-indicators li {
    background-color: rgba(204,204,204,0.8) !important;
    border: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.testimonial .carousel-control {
    top: 308px;
    z-index: 998;
}

.testimonial .carousel-control.right {
    right: 30%;
}

.testimonial .carousel-control.left {
    left: 30%;
}

.portfolio-block {
    padding: 0 30px;
}

.ncc-portfolio {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.ncc-portfolio.left .ncc-portfolio-image {
    height: 190px;
    max-height: 190px;
    overflow: hidden;
}

.ncc-portfolio:hover {
    cursor: pointer;
}

.ncc-portfolio:hover .team-overlay {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.69);
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -260px;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

#clients .ncc-heading {
    text-align: left;
}

#clients .ncc-client {
    display: block;
    width: 20%;
    float: left;
}

#clients .ncc-client .ncc-client-logo {
    text-align: center;
    display: block;
    overflow: hidden;
}

#footer .footer-top {
    display: block;
    background-color: #2f2f2f;
}

#footer .footer-bottom {
    color: #7a7a7a;
    padding: 25px 0 15px 0;
    background-color: #282828;
    position: relative;
}

.footer-bottom-inner {
    position: relative;
}

#footer .ncc-footer-heading {
    color: #fff;
    text-transform: uppercase;
    padding-top: 17px;
}

.logo-text {
    text-transform: uppercase;
    color: #00d2ff;
}

.ncc-footer-contact,
.ncc-footer-tags,
.ncc-footer-mailling {
    display: block;
    color: #999;
    margin-top: 20px;
}

.ncc-footer-recent {
    display: block;
    color: #999;
    margin-top: 10px;
}

.ncc-footer-contact>p{
    line-height: 1.5em;
    margin-bottom: 10px;
}

.ncc-footer-contact>p>.tower {
    color: #fff;
}

.contact {
    color: #999;
}

.contact>tbody>tr>td {
    border-top: solid 1px #474747;
}

.contact .contact-icon {
    color: #474747;
}

.ncc-footer-tags {
    display: block;
    position: relative;
}


.ncc-footer-tags>a {
    background-color: #535353;
    color: #999;
    display: inline-block;
    float: left;
    margin-right: 8px;
    margin-bottom: 7px;
    padding: 5px 12px;
}

.ncc-footer-tags>a.active,
.ncc-footer-tags>a:hover,
.ncc-footer-tags>a:focus {
    background-color: #00d2ff;
    color: #fff;
}

.ncc-footer-recent .list-group-item {
    background-color: transparent;
    border-color: #474747;
    border-width: 0 0 1px 0;
}

.ncc-footer-recent .list-group-item>a {
    color: #999;
}

.ncc-footer-recent .list-group-item>a.active,
.ncc-footer-recent .list-group-item>a:hover,
.ncc-footer-recent .list-group-item>a:focus {
    color: #fff;
    text-decoration: none;
}

.ncc-footer-recent .list-group-item>a.active>i,
.ncc-footer-recent .list-group-item>a:hover>i,
.ncc-footer-recent .list-group-item>a:focus>i {
    color: #00d2ff;
}

.ncc-footer-recent .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ncc-footer-recent .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.ncc-socials {
    display: block;
    width: 100%;
    border-top: solid 1px #474747;
}

.ncc-socials, .ncc-socials li {
    list-style: none;
    list-style-type: none;
    text-align: left;
}
.ncc-socials>li {
    float: left;
}

.ncc-socials>li>a {
    padding-left: 0;
    color: #999;
    font-size: 1.3em;
}

.ncc-socials>li>a.active,
.ncc-socials>li>a:hover,
.ncc-socials>li>a:focus {
    background-color: transparent;
    color: #00d2ff;
}

.ncc-mail {
    background-color: #535353;
    margin-bottom: 15px;
}

.ncc-mail input.mail-text {
    background-color: #535353;
    padding: 10px 20px;
    border: none;
    font-style: italic;
    display: inline-block;
}

.ncc-mail .mail-btn {
    background-color: #00d2ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    display: inline-block;
    float: right;
}

.back-to-top {
    position: absolute;
    right: 0;
    bottom: 0;
    border: solid 1px #666;
    padding: 10px 15px;
    color: #666;
}

#our_team {
    display: block;
    margin-bottom: 50px;
}

#testimonial {
    height: 655px;
    max-height: 655px;
}

#testimonial .testimonial-heading {
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}
#testimonial .testimonial-heading h3 {
    text-transform: uppercase;
    font-size: 23px;
    font-family: 'raleway-bold';
}

#testimonial .testimonial-inner {
    text-align: center;
    padding: 30px 0;
    color: #fff;

}

#testimonial .testimonial-inner .testimonial-description,
#testimonial .testimonial-inner .testimonial-author {
    position: relative;
    display: block;
}

#testimonial .testimonial-inner .testimonial-description {
    font-size: 1.5em;
    font-style: italic;
}

#testimonial .testimonial-inner .testimonial-author {
    margin-top: 30px;
}

#testimonial .testimonial-inner .testimonial-author .testimonial-name {
    text-transform: uppercase;
}

#testimonial .testimonial-inner .testimonial-author .testimonial-job {
    color: #cecece;
}

#testimonial .testimonial-inner .testimonial-author .testimonial-name,
#testimonial .testimonial-inner .testimonial-author .testimonial-job {
    display: block;
    padding-top: 10px;
    font-size: 1.2em;
}

.ncc-section-content {
    padding: 50px 0;
}

/******************************** BACKGROUND COLOR ************************************/
.bg-base {
    background: url('../images/bg_base.png') no-repeat;
}
.bg-gray {
    background-color: #f4f4f4;
}

.bg-dark-gray {
    background-color: #444444;
}

.bg-testimonial {
    background: rgba(0,0,0, 0.5) url('../images/bg_testimonial.png') no-repeat center;
}

.color-gray {
    color: #666666;
}

@media screen and (min-width: 768px) {
    .sliders .carousel-indicators {
        bottom: 0;
    }

    .slide .carousel-indicators {
        bottom: -45px;
    }

    .testimonial .carousel-indicators {
        bottom: -115px;
    }
}

@media screen and (max-width: 768px) {
    ul.ncc-services>li>.service-text {
        padding-left: 10px;
    }

    .ncc-portfolio.left .ncc-portfolio-image {
        height: 83px;
    }

    .ncc-info .ncc-info-text {
        font-size: 1.7em;
    }

    .ncc-team .ncc-team-photo {
        height: 160px;
        max-height: 160px;
    }

    .ncc-team .ncc-team-inner {
        padding: 10px 20px 20px 20px;
    }

    .ncc-team .ncc-team-inner span {
        height: 21px;
        overflow: hidden;
        width: 100%;
        display: block;
    }

    .ncc-mail input.mail-text {
        padding: 10px;
        width: 72%;
        float: left;
    }

    #clients .ncc-client {
        padding-left: 10px;
        padding-right: 10px;
    }
}